@model PeojectTWI.Models.productCategory

@{
    ViewBag.Title = "deleteProductCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Product Category</h2>

<div>

    <dl class="dl-horizontal" style="margin-left:5%">

        <div class="row">
            <lable id="topic">Product Name : </lable>  @Html.DisplayFor(model => model.ProductName)
        </div>

        <div class="row">
            <lable id="topic">Brand Name : </lable>  @Html.DisplayFor(model => model.BrandName)
        </div>
        <div class="row">
            <lable id="topic">Vendor : </lable>   @Html.DisplayFor(model => model.VendorName)
        </div>
        <div class="row">
            <lable id="topic">Vendor Conact : </lable>   @Html.DisplayFor(model => model.VendorContact)
        </div>
        <div class="row">
            <lable id="topic">Vendor Address : </lable>  @Html.DisplayFor(model => model.VendorAddress)
        </div>
        <div class="row">
            <lable id="topic">Vendor Email : </lable>  @Html.DisplayFor(model => model.VendorEmail)
        </div>
        <div class="row">
            <lable id="topic">Status : </lable> @Html.DisplayFor(model => model.Active)
        </div>

    </dl>
</div>
<p style="margin-left:5%">
    @Html.ActionLink("Deactivate", "RemoveProductCategory", new { pidDelete = Model.ProductID }, new { @class = "btn-custom btn-delete" })
    @Html.ActionLink("Back to List", "viewProductCategories", null, new { @class = "btn-custom btn-back" })
</p>

<style>
    #topic {
        font-weight: bold;
        font-size: 16px;
        color: #333; /* Dark grey color */
        margin-right: 10px;
        display: inline-block;
        width: 150px; /* Ensures alignment */
    }
    .row {
    margin-bottom:2%;
    }

    .btn-custom {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        margin-right: 10px;
        cursor: pointer;
    }

    .btn-delete {
        background-color: #d9534f; /* Bootstrap's 'btn-danger' color */
        border: 1px solid #d43f3a;
    }

        .btn-delete:hover {
            background-color: #c9302c; /* Darker red on hover */
        }

    .btn-back {
        background-color: #5bc0de; /* Bootstrap's 'btn-info' color */
        border: 1px solid #46b8da;
    }

        .btn-back:hover {
            background-color: #31b0d5; /* Darker blue on hover */
        }

   
</style>