@model PeojectTWI.Models.masterStore

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Insert into Master Store</h2>

@using (Html.BeginForm("insertMasterStore", "Inventory"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="lable">Product</div> 
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger", @required = "required" })
                @Html.DropDownListFor(model => model.ProductId, new SelectList(Model.ProductList, "ProductCategoryID", "ProductName"), "Select Product", new { @class = "form-control", @required = "required" })
            </div>
        </div>

        <div class="form-group">
            <div class="lable">Perchesed Count</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.perchesedCount, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.perchesedCount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="lable">Unit Price</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.unitPrice, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.unitPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="lable">Perchesed Date</div>
        <div class="col-md-10">
            <input type="date" id="PerchesedDate" name="PerchesedDate" class="form-control">
            @Html.ValidationMessageFor(model => model.PerchesedDate, "", new { @class = "text-danger", @required = "required" })
        </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Insert" class="btn btn-default" />
            </div>
        </div>
    </div>
}


