@model IEnumerable<PeojectTWI.Data.tblProductCategory>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Product Categories</h2>

<p>
    @Html.ActionLink("Create New", "insertProductCategory")
</p>
<table class="table">
    <tr>

        <th>
            <label>Barnd</label>
         
        </th>
        <th>
            <label>Product</label>
        </th>
        <th>
            <label>Vendor</label>
        </th>
        <th>
            <label>Vendor Contact</label>
        </th>
        <th>
            <label>Vendor Address</label>
        </th>
        <th>
            <label>Vendor Email</label>
        </th>
        <th>
            <label>Registred Date</label>
        </th>
        <th>
            <label>Status</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorContact)
            </td>    
            <td>
                @Html.DisplayFor(modelItem => item.VendorAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorEmail)
            </td>
            <td>
                @Convert.ToDateTime(item.CreateDate).ToString("dd/MM/yyyy")
              @*  @Html.DisplayFor(modelItem => item.CreateDate)*@
            </td>
            <td>
                @if (item.Active == true)
                {
                    <text>Active</text>
                }
                else
                {
                    <text>Deactivated</text>
                }

            </td>
            <td>
                @Html.ActionLink("Edit", "editProductCategory", new { pid = item.ProductID }, new { @class = "Edit-User-link" })|
                @Html.ActionLink("Delete", "deleteProductCategory", new { pidDelete = item.ProductID }, new { @class = "Edit-User-link" })
            </td>
        </tr>
    }

</table>


