@model IEnumerable<PeojectTWI.Data.tblProductCategory>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Product Categories</h2>

<p>
    @Html.ActionLink("Create New", "insertProductCategory")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.ActionLink("Edit", "editProductCategory", new { pid = item.ProductID }, new { @class = "Edit-User-link" })|
                @Html.ActionLink("Delete", "deleteProductCategory", new { pidDelete = item.ProductID }, new { @class = "Edit-User-link" })
            </td>
        </tr>
    }

</table>
