@model IEnumerable<PeojectTWI.Data.tblMasterStore>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MasterStore</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Brand Name</label>
            @*@Html.DisplayNameFor(model => model.tblProductCategory.BrandName)*@
        </th>
        <th>
            <label>Product Name</label>
            @*@Html.DisplayNameFor(model => model.tblProductCategory.ProductName)*@
        </th>
        <th>
            <label>Perchesed Count</label>
            @*@Html.DisplayNameFor(model => model.perchesedCount)*@
        </th>
        <th>
            <label>Unit Price</label>
            @*@Html.DisplayNameFor(model => model.unitPrice)*@
        </th>
        <th>
            <label>Perchesed Date</label>
            @*@Html.DisplayNameFor(model => model.PerchesedDate)*@
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tblProductCategory.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblProductCategory.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.perchesedCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerchesedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "editMasterStore", new { msid = item.mStoreId }, new { @class = "Edit-User-link" })|
                @Html.ActionLink("Delete", "deleteMasterStore", new { msIDDelete = item.mStoreId }, new { @class = "Edit-User-link" })
            </td>
        </tr>
    }

</table>
