@model IEnumerable<PeojectTWI.Data.tblMasterStore>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Master Store</h2>

<p>
    @Html.ActionLink("Create New", "insertMasterStore")
</p>
<table class="table">
    <tr>
        <th>
            <label>Brand Name</label>
        </th>
        <th>
            <label>Product Name</label>
        </th>
        <th>
            <label>Perchesed Count</label>
        </th>
        <th>
            <label>Unit Price</label>
        </th>
        <th>
            <label>Perchesed Date</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tblProductCategory.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblProductCategory.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.perchesedCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unitPrice)
            </td>
            <td>
                @Convert.ToDateTime(item.PerchesedDate).ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.ActionLink("Edit", "editMasterStore", new { msid = item.mStoreId }, new { @class = "Edit-User-link" })|
                @Html.ActionLink("Delete", "deleteMasterStore", new { msIDDelete = item.mStoreId }, new { @class = "Edit-User-link" })
            </td>
        </tr>
    }

</table>
