@model IEnumerable<PeojectTWI.Data.tblTicket>

@{
    ViewBag.Title = "AssignTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AssignTicket</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TicketDiscription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            Status
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.IsClosed)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.OpenedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblCoustomerDetail.CoustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblInventoryData.SerialNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketDiscription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @if (item.IsOpen == null)
                {
                    <text>Pending</text>
                }
                else if (item.IsOpen == true)
                {
                    <text>opem</text>
                }
                else
                {
                    <text>Closed</text>
                }

            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.IsClosed)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.OpenedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblCoustomerDetail.CoustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblInventoryData.SerialNumber)
            </td>
            <td>

                @Html.ActionLink("Assigned", "AssignTicketTolevel", new { Ticketid = item.TicketId })

            </td>
        </tr>
    }

</table>
